body
{
}
.header-newProj {
    height: 25px;
    display: flex;
    justify-content: initial;
    margin: 20px;
    justify-content: space-between;
}
.header-newProj .logo-login{
    align-self: flex-start;
    
}
.header-newProj .navigation{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;
    right: 0;
}

.navigation .navButton {
    padding: 10px;
    color: #A281D8;
    font-weight: 700;
}

.bottom {
    bottom: 0;
}

.Functions {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: #D7C0FC;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.formation-indicator {
    color: #A281D8;
    font-weight: 700;
    margin-bottom: 10px;
}