body
{
}

#colorMenu {
    position: absolute;
    background-color: white;
    height: 75px;
    width: 50%;
    left: 25%;
    top: 60vh;
    z-index: 3;
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
    border-radius: 10px;
    border: 1px solid #A281D8;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
#colorMenu.show {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
}

#colorMenu.hide {
    transform: translate3d(-100vw, 0, 0);
    transition: transform .3s cubic-bezier(0, -.52, 0, 1);
}

.colorContainer .Red-select {
    position: relative;
    height: 20px;
    width: 20px;
    background: #FF9993;
    border-radius: 50%;
    display: inline-block;
    z-index: 1;
    vertical-align: middle;
    top: auto;
    margin: 3px;
}
.colorContainer .Orange-select {
    position: relative;
    height: 20px;
    width: 20px;
    background: #FFDA93;
    border-radius: 50%;
    display: inline-block;
    z-index: 1;
    vertical-align: middle;
    top: auto;
    margin: 3px;
}
.colorContainer .Green-select {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    background: #C1FF90;
    border-radius: 50%;
    vertical-align: middle;
    top: auto;
    margin: 3px;
}
.colorContainer .Teal-select {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    background: #90FFF8;
    border-radius: 50%;
    z-index: 1;
    vertical-align: middle;
    top: auto;
    margin: 3px;
}
.colorContainer .Blue-select {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    background: #90D1FF;
    border-radius: 50%;
    z-index: 1;
    vertical-align: middle;
    top: auto;
    margin: 3px;
}
.colorContainer .Purple-select {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    background: #A281D8;
    border-radius: 50%;
    z-index: 1;
    vertical-align: middle;
    top: auto;
    margin: 3px;
}
.colorContainer .Pink-select {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    background: #F090FF;
    border-radius: 50%;
    display: inline-block;
    z-index: 1;
    vertical-align: middle;
    top: auto;
    margin: 3px;
}

