#formation {
    position: absolute;
    background-color: #D7C0FC;
    height: 75vh;
    width: 40vw;
    top: 13vh;
    left: 0;
    z-index: 3;
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
}

#formation.show{
    transform: translate3d(0vw, 0, 0);
	overflow: hidden;
}

#formation.hide{
    transform: translate3d(-100vw, 0, 0);
    transition: transform .3s cubic-bezier(0, -.52, 0, 1);
}
.formation-title {
    color: #A281D8;
    font-weight: 700;
    font-size: 20px;
}

.formation-add {
    border: none;
    background-color: white;
    color: #A281D8;
    width: 140px;
    height: 80px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    margin-top: 20px;
}

.formation-button {
    border: none;
    background-color: #A281D8;
    color: white;
    width: 140px;
    height: 30px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    margin: 5px;
}